@use 'sass:color';

@function complementary($color) {
  @return color.complement($color);
}

@function contrast-tone($color, $amount: 50%) {
  @if (color.channel($color, "lightness", $space: hsl) > 60) {
    @return color.adjust($color, $lightness: -$amount);
  }
  @else {
    @return color.adjust($color, $lightness: $amount);
  }
}

@function contrast-saturate($color, $amount: 40%) {
  $lightness: color.channel($color, "lightness", $space: hsl);
  @if ($lightness < 5) {
    @return #fff; // Fallback für fast schwarz
  }
  @if ($lightness > 95) {
    @return #222; // Fallback für fast weiß
  }
  @if ($lightness > 60) {
    @return color.adjust(
      color.adjust($color, $lightness: -40%),
      $saturation: -$amount
    );
  }
  @else {
    @return color.adjust(
      color.adjust($color, $lightness: 40%),
      $saturation: $amount
    );
  }
}