{% extends 'base.jinja2' %}

{% block header %}
<h1 class="heading-1">{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="nav__header-action" href="{{ url_for('blog.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for post in posts %}
<article class="post">
  <header class="post__header">
    <div>
      <h1 class="post__title"><a href="{{ url_for('blog.index', id=post.id) }}">{{ post.title }}</a></h1>
      <div class="post__about">by {{ post.author.username }} on {{ post.created.strftime('%Y-%m-%d') }}</div>
    </div>
    {% if g.user.id == post['author_id'] %}
    <a class="nav__header-action" href="{{ url_for('blog.update', id=post.id) }}">Edit</a>
    {% endif %}
  </header>
  <section>
    <x-likes liked="{{ 'true' if g.user and g.user.likes_post(post) else 'false' }}" 
             count="{{ post.like_count }}" 
             url="{{ url_for('blog_api.like', id=post.id) }}"
             disabled="{{ 'true' if not g.user else 'false' }}">
    </x-likes>  
  </section>
</article>
<hr class="hr">
{% endfor %}

{% set has_prev = page > 1 %}
{% set has_next = page < total_pages %}
<div class="pagination">
  {% if has_prev %}
    <a href="{{ url_for('blog.page', page=page-1) if page > 2 else url_for('blog.index') }}">« Previous</a>
  {% endif %}
  <span>Page {{ page }} of {{ total_pages }}</span>
  {% if has_next %}
    <a href="{{ url_for('blog.page', page=page+1) }}">Next »</a>
  {% endif %}
</div>
{% endblock %}