<div class="like action" id="post-like-{{ post.id | tojson }}">
  <a href="#"></a>
  <div class="heart" onclick="likePost_{{ post.id | tojson }}.toggle(); return false;"></div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const args = {
        postId: {{ post.id | tojson }},
        authorId: {{ post.author_id | tojson }},
        userId: {% if g.user %}{{ g.user.id | tojson }} {% else %}null{% endif %},
        liked: {% if g.user %} {{ g.user.likes_post(post) | tojson }} {% else %} {{ False | tojson }} {% endif %},
        count: {{ post.like_count | tojson }},
        loginUrl: {{ url_for('auth.login', next=request.url) | tojson }}
      }
      window.likePost_{{ post.id | tojson }} = Like(args)
    })
  </script>
</div>
