{% extends 'base.jinja2' %}

{% block content %}
<article class="post">
  <header class="post__header">
    <div>
      <h1 class="post__title">{{ post.title }}</h1>
      <div class="post__about">by {{ post.author.username }} on {{ post.created.strftime('%Y-%m-%d') }}</div>
    </div>
    {% if g.user and g.user.id == post.author.id %}
    <a class="nav__header-action" href="{{ url_for('blog.update', id=post.id) }}">Edit</a>
    {% endif %}
  </header>
  <section>
    <x-likes liked="{{ 'true' if g.user and g.user.likes_post(post) else 'false' }}" 
             count="{{ post.like_count }}"
             url="{{ url_for('blog_api.like', id=post.id) }}" 
             disabled="{{ 'true' if not g.user else 'false' }}">
    </x-likes>
  </section>
  <section>
    <p class="post__body">{{ post.content.body }}</p>
  </section>
</article>
{% endblock %}