{% extends 'base.jinja2' %}

{% block content %}
<article class="card post" aria-label="Blog post">
  <header class="post__header">
    <div>
      <h1 class="post__title">{{ post.title }}</h1>
      <div class="post__about">by {{ post.author.username }} on {{ post.created.strftime('%-d %B %Y') }}</div>
    </div> 
  </header>
  <section>
    <div class="post__actions">
      {% if g.user and g.user.id == post.author.id %}
      <a class="button post__action" href="{{ url_for('blog.update', id=post.id) }}">Edit</a>
      {% endif %}
      {% with post=post %}
      {% include 'components/post_likes.jinja2' %}
      {% endwith %}
    </div>
  </section>
  <section>
    <p class="post__body">{{ post.content.body }}</p>
  </section>
</article>
{% endblock %}