@use '../abstracts/variables' as *;

.comments {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__counter {
    display: inline-block;
    font-size: 0.9rem;
    color: $color-text;
    letter-spacing: 0.03em;
    vertical-align: middle;
    line-height: 1;
    margin-left: 0.15rem;

    &--disabled {
      cursor: default;
    }

    &--hidden {
      display: none;
    }
  }

  &__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    gap: 0.15rem;
    overflow: visible;
    color: $color-text;
    text-decoration: none;

    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    svg {
      vertical-align: middle;
    }

    &.comments__button:not(.comments__button--disabled):hover {
      .comments__counter,
      svg {
        color: brightess(1.15);
        transform: scale(1.2);
        transition: all 0.2s;
      }
    }
  }
}
