.likes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.likes button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  display: inline-block;
  overflow: visible;
  line-height: 0;
}

.likes__counter {
  color: slategray;
  font-size: 0.9rem;
  margin-left: 0.25rem;
  letter-spacing: 0.03em;
  vertical-align: middle;
}

.likes__counter--disabled {
  opacity: 0.5;
}

.likes__counter--hidden {
  display: none;
}

.likes__counter--liked {
  color: hotpink;
}

.likes__heart {
  width: 0.5rem;
  height: 0.5rem;
  background-color: slategray;
  display: inline-block;
  position: relative;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0.25rem;
}

.likes__heart::before,
.likes__heart::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: slategray;
  border-radius: 50%;
  position: absolute;
}

.likes__heart::before {
  top: -0.25rem;
  left: 0;
}

.likes__heart::after {
  left: 0.25rem;
  top: 0;
}

.likes__heart--disabled {
  cursor: auto;
  opacity: 0.5;
}

.likes__heart--liked,
.likes__heart--liked::before,
.likes__heart--liked::after {
  background-color: hotpink;
}
